.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 1px;
}

.half {
    width: 49%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}