.container_clash {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CoC_underline {
    border-bottom: white solid 1px;
}

.CoC_half {
    boder: 1px red solid;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CoC_image {
    width: 40px;
}