.container_clash {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CoC_underline {
    border-bottom: white solid 1px;
}

.CoC_half {
    margin-left: 5%;
    margin-right: 5%;
    overflow: visible;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CoC_image {
    width: 40px;
}